.app-screen{
	background-color: #fff;
}

.login-screen{
	margin: 70px 35px;
	color: #000 !important;
}

.user-registration{
	background-color: rgba(80, 208, 193, 0.51);
}

.submit-btn{
	background-color: #fff;
	color: #000;
}

.loginColumns {
    max-width: 800px;
    margin: 0 auto;
    padding: 100px 20px 20px 20px;
}

.block {
    display: block !important;
}

.m-b {
    margin-bottom: 15px;
}

.full-width {
    width: 100% !important;
}

.block {
    display: block;
}

.btn-primary {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
}

.btn {
    border-radius: 3px;
}
.backgr{
    height: 100vh;
    width: 100%;
    background-color: #2f4050;  
    color: #676a6c;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}
.logindiv{
    max-width: 800px;
    padding:100px 20px 20px 20px;
    margin: 0 auto;
    color: #676a6c;
    clear: both; 
}
.mar-t{
    margin-top: 15px;
}
.loginbox{
    background-color: #fff;
    padding: 20px;
}
.loginbtn{
    width: 100%;
    color: white;
    background-color: #1ab394;
    border-color: #1ab394;
}
.form-control{
    border-radius: 1px;
    border:1px solid #e5e6e7;
    box-shadow: none;
}
.form-control:focus{
    border-color: #1ab394;
}