
<div class="backgr">
    <div class="login-screen logindiv">
    <div class="row text-center">
        <div class="col-md-12">
            <ngb-tabset>
                <ngb-tab title="Login">
                    <template ngbTabContent>
                        <div class="loginbox">
                            <form class="mar-t">
                                <div class="form-group">
                                    <input class="form-control" type="text" 
                                    placeholder="Username"
                                    name="username"
                                    [(ngModel)]="username" 
                                    value="{{username}}"
                                    >
                                </div>

                                <div class="form-group">
                                    <input class="form-control" type="password" 
                                    placeholder="Password"
                                    name="password"
                                    [(ngModel)]="password" 
                                    value="{{password}}"
                                    >
                                </div>
                                <button type="submit" class="btn btn-primary loginbtn" (click)="login()">Login</button>
                            </form>
                            <p class="mar-t"><small>ANPI Corp &copy; 2017</small></p>
                        </div>
                    </template>
                </ngb-tab>

                <ngb-tab title="Registration">
                    <template ngbTabContent>
                        <div class="loginbox">
                            <form class="mar-t">
                                <div class="form-group">
                                    <input class="form-control" type="text" 
                                    placeholder="Username"
                                    name="name"
                                    [(ngModel)]="username" 
                                    value="{{username}}"
                                    (keyup)="onkeyup($event)"
									(keydown)="onkeydown($event)"
                                    >
                                    <br *ngIf="isuserNameAvailable && username!=''" />
                                    <div *ngIf="isuserNameAvailable && username!=''" class="alert alert-danger">
                                        username <strong>{{username}}</strong> is already taken.
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input class="form-control" type="text" 
                                    placeholder="Email Address"
                                    name="email"
                                    [(ngModel)]="email" 
                                    value="{{email}}"
                                    >
                                </div>

                                <div class="form-group">
                                    <input class="form-control" type="password" 
                                    placeholder="Password"
                                    name="password"
                                    [(ngModel)]="password" 
                                    value="{{password}}"
                                    >
                                </div>
                                <button type="submit" class="btn btn-primary loginbtn" (click)="registerUser()">Register</button>
                            </form>
                            <p class="mar-t"><small>ANPI Corp &copy; 2017</small></p>
                        </div>
                    </template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
    <hr />
    <div class="row foot">
        <div class="col-md-6">
            <p>ANPI CORP</p>
        </div>
        <div class="col-md-6 text-right">
            <p>&copy; 2017</p>
        </div>
    </div>
</div>
</div>