.backgr{
    height: 100vh;
    width: 100%;
    background-color: #2f4050;  
    color: #676a6c;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}
.logindiv{
    max-width: 800px;
    padding:100px 20px 20px 20px;
    margin: 0 auto;
    color: #676a6c;
    clear: both; 
}
.mar-t{
    margin-top: 15px;
}
.loginbox{
    background-color: #fff;
    padding: 20px;
}
.loginbtn{
    width: 100%;
    color: white;
    background-color: #1ab394;
    border-color: #1ab394;
}
.form-control{
    border-radius: 1px;
    border:1px solid #e5e6e7;
    box-shadow: none;
}
.form-control:focus{
    border-color: #1ab394;
}