.side{
    float: left;
    width: 180px;
}
.logo {
  color: white;
  font-size: 30px;
  font-weight: 300;
  cursor: pointer;
}
.link {
  color: white;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
}

.titleDiv p{
height:10%;
background:#F2F3F5;
width: 250px;
}



.sideBarBody{
  background: #10B1ED;
  min-height:90%;
  position: relative;
}

.title{
  font-family: 'Comfortaa',cursive;
  font-size: 24px;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.sidebar-nav li {

    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: 01749F;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}


.sidebar-brand {
    padding: 0;
    margin: 0;
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
}
.btn-default{
    background: #10B1ED;
    color:#ffffff;
    border: 0;
}
.btn-default:hover{
    background:#0CA0D8;

}
