<!-- Container for sidebar(s) + page content -->
<div class="side">
    <ng-sidebar-container>

        <!-- A sidebar -->
        <ng-sidebar [(opened)]="_opened">
            <p>Sidebar contents</p>
            <p><a closeSidebar>This will close the sidebar too</a></p>
        </ng-sidebar>

        <!-- Page content -->
        <div ng-sidebar-content style="min-height:100vh">
            <button (click)="_toggleSidebar()">Toggle sidebar</button>
        </div>

    </ng-sidebar-container>
</div>