/* You can add global styles to this file, and also import other style files */
a{
	color: #000 !important;
}

li{
	width: 50% !important;
}

.justifier{
	padding: 20px;
}

.app-heading{
	text-align: center;
	font-size: 32px;
	margin-top: 30px;
}

.app-heading-tech{
	font-size: 13px;
}

.app-author{
	text-align: center;
	font-size: 20px;	
}

app-root{
	height: 100%;
	width: 100%;
	background-color: #2f4050;
}