<div class="main">
  <ng-sidebar-container style="height:100vh !important">
  <!-- A sidebar -->;
  <ng-sidebar [(opened)]="_opened" [dock]="true" [dockedSize]="'50px'" [closeOnClickOutside]="true" [showBackdrop] = "false" [mode]="'push'" [sidebarClass]="'nottyBar'" >
    
    <div style="width: 230px">
      <div class="user-list-wrapper" style="background:#2f4050">
        <h3 class="sidetext">{{username}}</h3>
        <h3 class="sidetext2">Connections</h3>
					<ul class="user-list">
					
						<!-- click event to handle the selection : selectedUser() -->
						<!-- adding a class to indicate the selection -->
						<li *ngFor="let user of chatListUsers"
							(click)="selectedUser(user)" 
							[class.selected-user]="isUserSelected(user._id)"
							>
								{{ user.username}}
						</li>
					</ul>
				</div>
    </div>
  </ng-sidebar>

  <div ng-sidebar-content>
    <div class="pagewrapper white-bg">
      <div class="border-bottom">
        <nav class="navbar navbar-static-top white-bg no-mar border-bottom" role="navigation">
          <div class="container-fluid" style="margin-left:0px !important">
            <div class="navbar-header">

              <button class="navbar-minimalize minimalize-styl-2 btn btn-primary" (click)="_toggleSidebar()">></button>
              <form role="search" class="navbar-form-custom">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search for something...">
                </div>
              </form>
            </div>
            <div id="myNavbar">
              <ul class="nav navbar-nav navbar-right">
                <li (click)="logout()"> Logout</li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div *ngIf="selectedUserName" 
						class="opposite-user">
						{{selectedUserName}} | {{selectedUserEmail}}
            <hr>
			</div>
    <div #scrollMe class="msgspace">
      <ul class="message-thread">

						<li *ngFor="let message of messages"
							[class.align-right]="alignMessage(message.toUserId)"
							>
								{{ message.message}}
						</li>
					</ul>
      <!--<ul>
        <li *ngFor="let msgs of msgArray">
          <div>
            <img src="assets/user.png" height="50px" width="50px">
          </div>
          <div class="chatbox">
            <h6>{{msgs.sender}}</h6>
            <h6>{{msgs.msg}}</h6>
          </div>
        </li>
      </ul>-->
    </div>
    <div class="msgbox">
      <div class="msgtext col-md-12">
        <div class="message-typer">
					<textarea 
						class="message form-control" 
						placeholder="Type and hit Enter"
						[(ngModel)]="message" 
						(keyup)="sendMessage($event)"
					></textarea>
				</div>
        <!--<form (ngSubmit)="sendMessage()" required>
          <div class="form-group">
             <input type="text" placeholder="Enter a Message" 
             [(ngModel)]="message" 
             class="form-control msg"
             />
          </div>
        </form>-->
        <!--<form [formGroup]="msgForm" (ngSubmit)="addmsg()" required>
          <div class="form-group">
            <input type="text" placeholder="Enter a Message" class="form-control msg" formControlName="msg">
          </div>
        </form>-->
      </div>
    </div>
  </div>

</ng-sidebar-container>
</div>
