.main{
    display: flex;
    flex-direction: column;
}
.pagewrapper{
    flex: none;
}
.border-bottom{
    border-bottom: 1px solid #e7eaec;
}
.white-bg{
    background-color: #fff;
}
.navbar-form-custom{
    float: left;
    height: 50px;
    padding: 0;
    width: 200px;
    display: block;
}
.minimalize-styl-2 {
    padding: 4px 12px;
    margin: 10px 5px 5px 20px;
    font-size: 14px;
    float: left;
}
.no-mar{
    margin: 0;
}
.navbar-form-custom .form-control {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    font-size: 14px;
    height: 55px;
    margin: 0;
    z-index: 2000;
}
.form-control{
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}
.form-control:focus{
    border: none;
    box-shadow: none;
}
.nav.navbar-right>li a{
    color:#999c9e;
    font-size: 14px;
}
.navbar-right a:hover{
    background-color: #fff;
    color: #999c9e;
}
.msgbox{
    flex: none;
    margin: 0px;
    display: block;
    bottom: 0px;
    width: 100%;
}
.msgtext{
    padding: 10px;
    background-color: #fff;
}
.navbar{
    margin-bottom: 0;
}
.msg:focus{
    border:1px solid #1ab394;
}
::-webkit-scrollbar {display:none;}
.msgspace{
    flex: auto;
    padding: 10px 0px;
    /*display: flex;*/
    flex-direction: column-reverse;
    position: relative;
    width:100%;
    height: 77vh;
    overflow-y:scroll;
}
.form-group{
    margin-bottom: 0px;
}
.msgspace>ul li{
    list-style:none;
    display: flex;
    margin: 5px;
}
.msgspace>ul>li h6:first-child{
    color:#1ab394;
}
.chatbox{
    border: 1px solid #e5e6e7;
    box-shadow: 1px;
    margin: 0px 35px 10px 10px;
    padding: 5px;
    width: 100%;
}

.sidetext{
    margin: 0;
    padding: 20px;
    color:white;
    font-size: 15px;
    /*border-bottom: 1px solid black;    */
}
.sidetext2{
    margin: 0;
    padding: 10px 20px;
    color:white;
    font-size: 15px;
    border-left: 3px solid lightgreen;    
}

.user-list{
	/*padding: 10px;*/
	/*overflow-y: scroll;*/
    /*margin-left: -40px;*/
	height: 900px;
	width: 100%;
    background-color:#2f4050;
}

.user-list li{
    background-color:#293846;
    text-align: center;
	/*padding: 10px;*/
	list-style-type: none;
	/*margin-bottom: 5px;*/
    color:white;
    width: 100% !important;
    /*border-radius: 5px;*/
    /*box-shadow: 0px 3px 3px rgba(172, 172, 172, 0.73);*/
    /*line-height: 1.4;;*/
    border-color: solid 0.5px rgba(0, 0, 0, 0.32);
    clear: both;
    text-decoration: none;
    cursor: pointer;
}

.selected-user{
	border-left: solid 3px rgb(2, 39, 35);
}

.message-thread{
	overflow-y: scroll;
	list-style-type: none;
	/*height: 400px;*/
	width: 100%;
    /*border: solid 1px #BDBDBD;*/
    margin: 0px !important;
    padding: 5px !important;
}

.message-thread li{
	/*max-width: 300px;*/
    border-color: solid 0.5px rgba(0, 0, 0, 0.32);
    clear: both;
    text-decoration: none;
    list-style-type: none;
    margin: 20px 10px 0px 20px;
    float: left;
    display: inline-block;
    margin-right: 20px;
    padding: 25px 34px;
    min-width: 160px;
    min-height: 10px;
    max-width: 350px;
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgba(172, 172, 172, 0.73);
    background-color: rgba(255, 255, 255, 0.80);
    line-height: 1.4;
    word-wrap: break-word;
    color: #444444;
    text-align: left; 
}

.align-right{
	float: right !important;
	text-align: right;
}

.message-typer{
	padding-top: 20px; 
}

.opposite-user{
    background-color:white;
    width: 100%;
    color: #777;
    text-align: left;
    min-height: 60px;
    padding: 20px;
}
